/src/main/java/
/src/main/webapp/
/src/main/resources/
/src/test/java/
/src/test/resources/
/build/archetype/target/
/distribute/archetype/target/
/distribution/archetype/target/
/distribution/archetype/src/test/resources/projects/basic/archetype.properties
/target/